In [126]:
#import the packages
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix

In [127]:
#import the data
data = pd.read_csv("PROJECT - Feuille 1.csv")

In [128]:
#select the columns that we will use
df = data[["City/locality", "Energy Consumption BEFORE intervention (actual)\nMWh/a","Energy Consumption AFTER intervention (actual)\nMWh/a","Predicted Energy Consumption AFTER intervention\nMWh/a","Value of EE investment\n€","Energy Performance Certificate rating AFTER intervention"]]
df

,City/locality,Energy Consumption BEFORE intervention (actual)\nMWh/a,Energy Consumption AFTER intervention (actual)\nMWh/a,Predicted Energy Consumption AFTER intervention\nMWh/a,Value of EE investment\n€,Energy Performance Certificate rating AFTER intervention
0,"Akademijos mstl., Kauno r.",472200.0,"174,300.00","212,330.00","240,473.48",C
1,"Akademijos mstl., Kauno r.",549760.0,NaN,"194,790.00","452,380.04",NaN
2,Alytaus r. Simnas,271440.0,"92,090.00","81,800.00","176,346.65",B
3,Alytaus r. Simnas,265110.0,"75,260.00","96,640.00","132,666.59",B
4,Alytaus r. Simnas,261110.0,"94,560.00","89,360.00","136,859.52",C
...,...,...,...,...,...,...
331,Vilnius,378790.0,NaN,"113,760.00","374,188.00",NaN
332,Vilnius,640080.0,NaN,"253,160.00","579,586.26",NaN
333,Vilnius,450210.0,NaN,"161,460.00","410,341.02",NaN
334,Vilnius,248870.0,NaN,"94,610.00","267,632.22",NaN
335,"Žiegždrių k., Kauno r.",335770.0,"144,320.00","117,330.00","240,584.40",C

In [129]:
#remove messing values
df = df.dropna()
df

,City/locality,Energy Consumption BEFORE intervention (actual)\nMWh/a,Energy Consumption AFTER intervention (actual)\nMWh/a,Predicted Energy Consumption AFTER intervention\nMWh/a,Value of EE investment\n€,Energy Performance Certificate rating AFTER intervention
0,"Akademijos mstl., Kauno r.",472200.0,"174,300.00","212,330.00","240,473.48",C
2,Alytaus r. Simnas,271440.0,"92,090.00","81,800.00","176,346.65",B
3,Alytaus r. Simnas,265110.0,"75,260.00","96,640.00","132,666.59",B
4,Alytaus r. Simnas,261110.0,"94,560.00","89,360.00","136,859.52",C
5,Alytaus r. Simnas,270910.0,"114,600.00","91,970.00","137,382.08",C
...,...,...,...,...,...,...
309,Vilnius,728660.0,"350,620.00","223,530.00","569,465.36",C
312,Vilnius,376860.0,"157,740.00","133,980.00","393,955.45",C
313,Vilnius,679560.0,"255,490.00","265,980.00","509,562.46",C
314,Vilnius,603100.0,"352,500.00","213,710.00","771,326.60",C
335,"Žiegždrių k., Kauno r.",335770.0,"144,320.00","117,330.00","240,584.40",C

In [130]:
#build another column called Energy performance* that conatins the 3 categories 
df['Energy performance*']=df['Energy Performance Certificate rating AFTER intervention']
l=[]
for i in range(len(df['City/locality'])):
    p=((df['Energy Consumption BEFORE intervention (actual)\nMWh/a'].iloc[i]-float(df['Energy Consumption AFTER intervention (actual)\nMWh/a'].iloc[i].replace(',','').replace(' ','')))/df['Energy Consumption BEFORE intervention (actual)\nMWh/a'].iloc[i])*100
    l.append(p)
    if l[i]<60:
        df['Energy performance*'].iloc[i]='A'
    if l[i]<90 and l[i]>60:
        df['Energy performance*'].iloc[i]='AA'
    if l[i]>90:
        df['Energy performance*'].iloc[i]='AAA'
df = df.drop(['Energy Performance Certificate rating AFTER intervention','City/locality'], axis=1) 
df

C:\Users\amin\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\amin\anaconda3\envs\amine\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
C:\Users\amin\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\amin\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\amin\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,Energy Consumption BEFORE intervention (actual)\nMWh/a,Energy Consumption AFTER intervention (actual)\nMWh/a,Predicted Energy Consumption AFTER intervention\nMWh/a,Value of EE investment\n€,Energy performance*
0,472200.0,"174,300.00","212,330.00","240,473.48",AA
2,271440.0,"92,090.00","81,800.00","176,346.65",AA
3,265110.0,"75,260.00","96,640.00","132,666.59",AA
4,261110.0,"94,560.00","89,360.00","136,859.52",AA
5,270910.0,"114,600.00","91,970.00","137,382.08",A
...,...,...,...,...,...
309,728660.0,"350,620.00","223,530.00","569,465.36",A
312,376860.0,"157,740.00","133,980.00","393,955.45",A
313,679560.0,"255,490.00","265,980.00","509,562.46",AA
314,603100.0,"352,500.00","213,710.00","771,326.60",A
335,335770.0,"144,320.00","117,330.00","240,584.40",A

In [131]:
#convert the str values into float values 
for i in range(len(df['Energy Consumption BEFORE intervention (actual)\nMWh/a'])):
    df['Energy Consumption AFTER intervention (actual)\nMWh/a'].iloc[i]=float(df['Energy Consumption AFTER intervention (actual)\nMWh/a'].iloc[i].replace(',','').replace(' ',''))
    df['Predicted Energy Consumption AFTER intervention\nMWh/a'].iloc[i]=float(df['Predicted Energy Consumption AFTER intervention\nMWh/a'].iloc[i].replace(',','').replace(' ',''))
    df['Value of EE investment\n€'].iloc[i]=float(df['Value of EE investment\n€'].iloc[i].replace(',','').replace(' ',''))
df

C:\Users\amin\anaconda3\envs\amine\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,Energy Consumption BEFORE intervention (actual)\nMWh/a,Energy Consumption AFTER intervention (actual)\nMWh/a,Predicted Energy Consumption AFTER intervention\nMWh/a,Value of EE investment\n€,Energy performance*
0,472200.0,174300,212330,240473,AA
2,271440.0,92090,81800,176347,AA
3,265110.0,75260,96640,132667,AA
4,261110.0,94560,89360,136860,AA
5,270910.0,114600,91970,137382,A
...,...,...,...,...,...
309,728660.0,350620,223530,569465,A
312,376860.0,157740,133980,393955,A
313,679560.0,255490,265980,509562,AA
314,603100.0,352500,213710,771327,A
335,335770.0,144320,117330,240584,A

In [132]:
#select the 4 first columns as features and the last column as lavel
X = df.iloc[:, :-1].values
y = df.iloc[:, 4].values

In [133]:
#split the data into train and test using 80% for train 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [134]:
#standarise the data
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [135]:
#implement knn
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [136]:
#predict
y_pred = classifier.predict(X_test)

In [137]:
#calculate the accuracy
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[14  3]
 [ 5 15]]
              precision    recall  f1-score   support

           A       0.74      0.82      0.78        17
          AA       0.83      0.75      0.79        20

    accuracy                           0.78        37
   macro avg       0.79      0.79      0.78        37
weighted avg       0.79      0.78      0.78        37